<div class="container">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="model.username" required />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="model.password" required />

  <button type="submit" (click)="loginMember()">Login</button>
  <p>Don't have an account? <a href="signup">Sign-Up</a></p>
  <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>
</div>
