<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
  <img class="logo" src=".\assets\images\HISABlogo.png" alt="Hisaab" height="30">
  <ul class="nav-list">
    <li class="nav-item"><a mat-button routerLink="/dashboard">Home</a></li>
    <li class="nav-item"><a mat-button routerLink="/groups">Groups</a></li>
    <li class="nav-item"><a mat-button routerLink="/personal-expenses">Personal Expenses</a></li>
    <li class="nav-item"><a mat-button routerLink="/notifications">Notifications</a></li>
    <li class="nav-item"><a mat-button routerLink="/settings">Settings</a></li>
  </ul>
</div>






<div class="category-list">
  <h2>Categories</h2>
  <div class="category-grid">
    <div *ngFor="let category of categories" (click)="selectCategory(category)" class="category-box">
      {{ category.categoryName }}
    </div>
  </div>
  <input [(ngModel)]="newCategoryName" placeholder="New category name" />
  <button (click)="addCategory()">Add Category</button>
</div>
<div class="selected-category" *ngIf="selectedCategory">
  <h2>Expenses for {{ selectedCategory.categoryName }}</h2>
  <ul>
    <li *ngFor="let expense of categoryExpenses">
      {{ expense.description }} - ${{ expense.amount }}
    </li>
  </ul>
</div>

<button (click)="addExpense()">Add Expense</button>
<button (click)="totalExpense()">Total Expenses</button>
