<h2 mat-dialog-title>Add Expense</h2>
<mat-dialog-content>
<form>
  <input [(ngModel)]="data.description" name="description" placeholder="Description">
  <input [(ngModel)]="data.amount" type="number" name="amount" placeholder="Amount">
  <select [(ngModel)]="data.categoryId" name="categoryId">
    <option *ngFor="let category of categories" [value]="category.categoryId">{{category.categoryName}}</option>
  </select>
  <button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="addExpense()">Add</button>
</form>