<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
  <img class="logo" src=".\assets\images\HISABlogo.png" alt="Hisaab" height="30">
  <ul class="nav-list">
    <li class="nav-item"><a mat-button routerLink="/dashboard">Home</a></li>
    <li class="nav-item"><a mat-button routerLink="/groups">Groups</a></li>
    <li class="nav-item"><a mat-button routerLink="/personal-expenses">Personal Expenses</a></li>
    <li class="nav-item"><a mat-button routerLink="/notifications">Notifications</a></li>
    <li class="nav-item"><a mat-button routerLink="/settings">Settings</a></li>
  </ul>
</div>


<div *ngIf="notifications$ | async as notifications; else noNotifications">
  <div class="notification-box" *ngFor="let notification of notifications; index as i">
    {{notification}}
    <button (click)="deleteNotification(i)">Delete</button>
  </div>
</div>
<ng-template #noNotifications>
  <p>No notifications</p>
</ng-template>

<style>
  .notification-box {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>